.SignupPage-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

.SignupPage-side {
    position: relative;
    width: 40%;
    height: 100%;
}

.SignupPage-side:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg, #e91e63, #03a9f4);
    z-index: 1;
    mix-blend-mode: screen;
}

.SignupPage-side img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.SignupPage-content-container {
    display: flex;
    width: 60%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.SignupPage-form-container {
    width: 50%;
}

.SignupPage-form-container h2 {
    color: #607d86;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #ff4584;
    display: inline-block;
    letter-spacing: 1px;
}

.SignupPage-input-box {
    margin-bottom: 20px;
}

.SignupPage-input-box span {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607d8b;
    font-weight: 16px;
    letter-spacing: 1px;
}

.SignupPage-input-box input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 10px;
}

.SignupPage-input-box input[type='submit'] {
    border: 2px solid #ff4584;
    color: #ff4584;
    outline: none;
    font-weight: 600;
    cursor: pointer;
    transition: 250ms ease-in-out;
}

.SignupPage-input-box input[type='submit']:hover {
    background: #f53677;
    color: white;
}

.SignupPage-input-box p {
    color: #607d8b;
}

.SignupPage-link {
    color: #ff4584;
    text-decoration: none;
    font-weight: 600;
    transition: 250ms ease-in-out;
}

.SignupPage-link:hover {
    color: #af325c;
}

.SignupPage-social-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.SignupPage-link-btn {
    margin: 10px;
    padding: 8px;
    text-align: center;
    width: 100%;
    text-decoration: none;
    border: 1px solid #dc3545;
    color: #dc3545;
    border-radius: 10px;
    font-weight: 600;
    transition: 250ms ease;
}
.SignupPage-link-btn:hover {
    background-color: #dc3545;
    color: white;
}

@media (max-width: 768px) {
    .SignupPage-side {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .SignupPage-content-container {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .SignupPage-form-container {
        width: 100%;
        margin: 50px;
        padding: 40px;
        background: rgb(255 255 255 / 0.9);
    }
}
