* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.sep {
    display: flex;
    align-items: center;
    text-align: center;
    opacity: 0.5;
}
.sep::before,
.sep::after {
    content: '';
    flex: 1;
    border-bottom: 0.5px solid #607d8b;
}
.sep::before {
    margin-right: 0.25em;
}
.sep::after {
    margin-left: 0.25em;
}
